<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bar.na"
          android:versionCode="1"
          android:versionName="1.0">

  <uses-sdk android:minSdkVersion="19"></uses-sdk>
  <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
  <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

  <!-- This .apk has no Java code itself, so set hasCode to false. -->
  <application
      android:allowBackup="false"
      android:fullBackupContent="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:hasCode="false">

    <!-- Our activity is the built-in NativeActivity framework class.
         This will take care of integrating with our NDK code. -->
    <!--<activity android:name="android.app.NativeActivity"-->
              <!--android:label="@string/app_name"-->
              <!--android:configChanges="orientation|keyboardHidden">-->
      <!--<meta-data android:name="android.app.lib_name"-->
                 <!--android:value="native-activity" />-->
      <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
      <!--</intent-filter>-->
    <!--</activity>-->
    <!--===============-->

    <activity android:name="com.bar.navigation.AppNavHomeActivity"
        android:label="@string/app_nav_home_label">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name="com.bar.navigation.SimpleUpActivity"
        android:label="@string/simple_up_label"
        android:parentActivityName="com.bar.navigation.AppNavHomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
      <meta-data android:name="android.support.PARENT_ACTIVITY"
          android:value="com.bar.navigation.AppNavHomeActivity" />
    </activity>

    <activity android:name="com.bar.navigation.PeerActivity"
        android:label="@string/peer_label"
        android:parentActivityName="com.bar.navigation.AppNavHomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
      <meta-data android:name="android.support.PARENT_ACTIVITY"
          android:value="com.bar.navigation.AppNavHomeActivity" />
    </activity>

    <activity android:name="com.bar.navigation.ViewFromOtherTaskActivity"
        android:label="@string/view_from_other_task_label"
        android:parentActivityName="com.bar.navigation.AppNavHomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
      <meta-data android:name="android.support.PARENT_ACTIVITY"
          android:value="com.bar.navigation.AppNavHomeActivity" />
    </activity>

    <activity android:name="com.bar.navigation.OutsideTaskActivity"
        android:label="@string/outside_task_label"
        android:theme="@style/Theme.Light"
        android:taskAffinity="com.example.android.appnavigation.outsidetask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity android:name="com.bar.navigation.ContentViewActivity"
        android:label="@string/content_view_label"
        android:parentActivityName="com.bar.navigation.ContentCategoryActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW" />
        <data android:mimeType="application/x-example" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
      <meta-data android:name="android.support.PARENT_ACTIVITY"
          android:value="com.bar.navigation.ContentCategoryActivity" />
    </activity>

    <activity android:name="com.bar.navigation.ContentCategoryActivity"
        android:label="@string/content_category_label"
        android:parentActivityName="com.bar.navigation.AppNavHomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
      <meta-data android:name="android.support.PARENT_ACTIVITY"
          android:value="com.bar.navigation.AppNavHomeActivity" />
    </activity>

    <activity android:name="com.bar.navigation.NotificationsActivity"
        android:label="@string/notifications_label"
        android:parentActivityName="com.bar.navigation.AppNavHomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
      <meta-data android:name="android.support.PARENT_ACTIVITY"
          android:value="com.bar.navigation.AppNavHomeActivity" />
    </activity>

    <activity android:name="com.bar.navigation.InterstitialMessageActivity"
        android:label="@string/interstitial_label"
        android:theme="@style/Theme.Dialog"
        android:launchMode="singleTask"
        android:excludeFromRecents="true"
        android:taskAffinity="">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>

  </application>

</manifest>
<!-- END_INCLUDE(manifest) -->
